body {
	background-color: #eee;
}
.container {
	width: 550px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #fff;
	padding: 40px 40px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);
}
.name {
	font-weight: 700;
	text-align: center;
	margin-bottom: 25px;
	font-size: 20px;
}
.foto {
	width: 150px;
	margin: 0 auto;
	display: block;
	height: auto;
}
p {
	font-size: 16px;
	line-height: 25px;
}
.line {
	height: 1px;
	background-color: #000;
}
ul {
	margin-top: 25px;
	padding-left: 25px;
}
li {
	margin-bottom: 7px;
	font-size: 16px;
}
a {	
	color: blue;
}
.line-type-2 {
	background-color: #7b7b7b;
}