body {
	background-color: #eee;
}
.container {
	width: 550px;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px 40px;
	border: 1px solid #e0e0e0;
}
.name {
	font-weight: 700;
	text-align: center;
	font-size: 24px;
}
.foto {
    width: 200px;
    margin: 0 auto;
    display: block;
    height: auto;
}
p {
	font-size: 18px;
	line-height: 25px;
}
.line {
	height: 1px;
	background-color: #000;
}
ul {
	margin-top: 25px;
	padding-left: 25px;
}
li {
	margin-bottom: 7px;
	font-size: 18px;
}
a {
	color: blue;
}
.line-type-2 {
	background-color: #e0e0e0;
}